@font-face {
    font-family: vazir;
    src: url(/font/Vazir.eot);
    src: url(/font/Vazir.ttf),
    url(/font/Vazir.woff),
    url(/font/Vazir.woff2);
}


body{
    background-color: #222222;
    direction: rtl;
    font-family: vazir;
    margin: 0;
    padding: 0;
    color: #ffffff;
}


#main-bar{
    display: block;
}


nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav ul li{
    display: inline;
}

nav ul li:last-child{
    float: left;
    margin-left: 20px;
}

nav ul li a{
    background-color: #222222;
    margin: 20px 20px;
    padding: 5px;
    text-decoration: none;
    border: 1px hidden;
    color: #ffffff;
}
nav ul a:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

.preview-sec{
    margin: 20px 0 80px 0;
    text-align: center;
    border: 1px solid #666666;
    background-color: rgb(205, 192, 13);
    border-radius: 5px;
    padding: 10px;
    color: #000000;
}


#box_sign{
    border: 1px solid rgb(205, 192, 13);
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    background-color: #aaa;
    color: #000000;
    width: 50%;
    height: 60%;

}

#submit-done{
    border: 2px hidden;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ffff00;
    color: #000000;
    padding: 10px;
    margin: auto;
    font-family: vazir;
    text-align: center;
    cursor: pointer;
}

#submit-done:hover{
    background-color: #eeeeee;
    border: 1px solid #000000;
}

form label , #submit-done{
    margin-right: 50px;
}

.input-style{
    font-family: vazir;
    width: 40%;
    border-radius: 5px;
    padding: 3px;
    margin: 5px 10px;
}

.gender-box{
    margin: 5px 10px;
}

#select-bar{
    border-radius: 5px;
    border: 2px inset #000000;
    margin: 5px 10px;
}

#select-bar option{
    color: #000000;
    font-family: vazir;
    font-size: 12px;
}








#the-end{
    font-family: vazir;
    text-align: center;
    margin: 15px;
}

#the-end a{
    text-decoration: none;
    color: #fff;
}

#line-end{
    border-color: #ffff00;
    margin: 80px 0 10px 0;
}

mark{
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width : 768px){
    body{
        font-size: 13px;
    }

    nav ul li a{
        margin: 0;
        padding: 0px 8px;
    }
}
